.bg-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    height: 100vh;
    transform-origin: top;
    z-index: 1;

    .bg-inner-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
        transform: scale(1.1);
    }
}